<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to Book and Film app</h1>  
  <% if(user) {%>
    <p>Hello, <%=user.name %>! <a href="/items/dashboard">Go to dashboard</a>|<a href="/auth/logout">Logout</a></p>
    <%} else { %>
        <p><a href="/auth/register">Registrer</a> | <a href="/auth/login">Login</a></p>
<%}%>
</body>
</html>